

.team{
    display: flex;
    flex-direction: column;
    margin-top: -70px;
    overflow: hidden;
}

.theme-light .team_landing ,.theme-light .team_designers {
    background-color: var(--light-sky-2);
	color: black;
}

.theme-light .team_developers {
    background-color: var(--light-sky);
	color: black;
}

.theme-dark .team_landing,.theme-dark .team_designers {
    background-color: var(--dark-sky);
	color: var(--cream);
}

.theme-dark .team_developers {
	background-color: var(--eerie-black);
	color: var(--cream);
}

.theme-dark .team_developers_inner{
   border: 1px dashed rgba(255, 255, 255, 1);
}

.theme-dark .team_developers_inner h1{
    color: var(--eerie-black);
    -webkit-text-stroke: 1px var(--cream);
 }

.theme-dark .team_developers_content_ppl div div{
    border: 2px solid var(--cream);
    
    
}

.theme-dark .team_designers_content_ppl div div{
    border: 2px solid var(--cream);
   
    
}

.team_landing{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.team_landing_head{
    position: absolute;
    top: 300px;
    text-align: center;
}

.team_landing_head h1{
   font-weight: 600;
   font-size: 122px;
   line-height: 105.42px;  
}

.team_landing_subhead{
    padding-top: 4px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
}

.team_developers{
    padding: 30px;
}

.team_developers_inner{
    padding: 30px;
    border: 1px dashed black;
}

.team_developers_inner h1{
   color: var(--light-sky);
   -webkit-text-stroke: 1px black;
   font-weight: 600;
   font-size: 103px;
   padding: 40px;
}

.team_developers_content_ppl{

    display:flex;
    flex-direction: column;
   

   
}



.team_developers_content_ppl div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.team_developers_content_ppl div div{
    border: 2px solid black;
    width: 187.19px;
    height: 185px;
    cursor: pointer;
}

.team_developers_content_ppl div div:nth-child(2n+1){
   margin-top: 10%;
   margin-bottom: -3%;
   
}

.team_developers_content_ppl div:nth-child(3) {
    margin-top:3%;
   display: flex;
   gap: 250px;
   align-items: center;

}
    
.team_developers_content_ppl div:nth-child(3) div:nth-child(1){
   margin-top:-3%;
}



.team_designers_inner{
    padding: 0px 30px 60px;
    
}

.team_designers_inner h1{
   
   font-weight: 600;
   font-size: 103px;
   padding: 40px;
}

.team_designers_content_ppl{

    display:flex;
    flex-direction: column;
   

   
}



.team_designers_content_ppl div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.team_designers_content_ppl div div{
    border: 2px solid black;
    width: 187.19px;
    height: 185px;
    cursor: pointer;
}

.team_designers_content_ppl div div:nth-child(2n+1){
   margin-top: 10%;
   margin-bottom: -3%;
   
}

.team_designers_content_ppl div:nth-child(3) {
    margin-top:3%;
   display: flex;
   gap: 250px;
   align-items: center;

}
    
.team_designers_content_ppl div:nth-child(3) div:nth-child(1){
   margin-top:-3%;
}



  