.dashboard-landing {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 25%;
}

.new-adder {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.shorten-button {
  background-color: #0f0f10ef;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.list-existing {
  list-style-type: disc;
  margin-top: 20px;
  padding-left: 20px;
}

.item-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
}
