.home {
	height: 100%;
	margin-top: 90px;
	overflow: hidden;
}

.theme-light .home_about, .theme-light .home_story {
	background-color: var(--light-sky);
	color: black;
}

.theme-dark .home_about, .theme-dark .home_story {
	background-color: var(--eerie-black);
	color: var(--cream);
}

.theme-dark .home_landing, .theme-dark .home_earth {
	background-color: var(--dark-sky);
	color: var(--cream)	;
}

.theme-light .home_earth, .theme-light .home_landing{
	background-color: var(--light-sky-2);
	color: black;
}

.home_landing, .home_earth {
	position: relative;
	transition: all 1s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--eerie-black);
}

.theme-dark .home_landing, .theme-dark .home_story {
	border-bottom: 2px solid var(--cream);
}

.theme-light .home_landing, .theme-light .home_story {
	border-bottom: 2px solid var(--eerie-black);
} 


.home_landing {
	height: max(100vh, 500px);
}

.home_landing_head {
	display: grid;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.home_landing_head > h1 {
	display: flex;
	align-items: center;
	font-size: clamp(2em, 15vw, 90px);
	line-height: 101%;
	gap: 20px;
	width: 100%;
}

.home_landing_head > h1 > img {
	width: 200px;
}

@media (max-width: 720px) {
	.home_landing_head {
		width: 100%;
	}
	.home_landing_head > h1 {
		display: inline;
		text-align: center;
	}

	.home_landing_head > h1 > img {
		display: none;
	}
}

.home_landing > p {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: center;
	width: 50%;
}

.home_landing_clouds {
	transition: all 0.5s ease;
	background-color: none;
	position: absolute;
	width: 100%;
	height: 80vh;
	bottom: 0;
}

.home_landing_buttons {
	display: flex;
	flex-direction: row;
	width: 90%;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.home_landing_buttons > .FilledButton > button {
	padding: 10% 2%;
	width: 170px;
}

@media (max-width: 720px) {
	.home_landing_buttons {
		flex-direction: column;
		gap: 10px;
	}

	.home_landing > p {
		width: 90%;
	}

	.home_landing_clouds { 
		height: 50vh;
	}
}

.home_about {
	height: max(100vh, 100%);
	position: relative;
	transition: all 1s ease;
} 

.home_marquee {
	padding-top: 3%;
	margin: 0%;
	font-size: 60px;
	color: transparent;
	-webkit-text-stroke-width: 3px;
}

.home path {
	transition: fill 1s ease;
}

.home mask {
	transition: fill 1s ease;
}

.home rect {
	transition: fill 1s ease;
}

.theme-light .marquee_span {
	color: black;
}
.theme-dark .marquee_span {
	color: var(--cream);
}

.home_about_inner {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}
.home_about_content {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 200px;
}
.home_about_content > p {
	padding: 0% 0% 0% 10%;
	font-size: 20px;
}

.home_about_image {
	width: 30%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.llama_cloud {
	position: absolute;
	transform: translate(17px, 52px);
}

.llama_body{
	transform-origin: top;
	position: relative;
}


 .home_about_clouds {
	width: 100%;
	position: absolute;
	transform: scaleY(90%) translateY(6%);
	bottom: 0%
}

@media (max-width: 720px) {
	.home_about_clouds {
		height: 30vh;
	}
	.home_about_inner {
		flex-direction: column-reverse;
	}

	.home_about_content {
		text-align: center;
	}

	.home_about_content > p {
		padding: 0;
	}

	.home_about_image {
		margin-top: -50px;
		scale: 80%;
		margin-bottom: -100px;
	}
}

.theme-light .home_events {
    background-color: white;
    color: black;
	transition: background-color 1s ease;
}

.theme-dark .home_events {
    background-color: #333333;;
    color: white;
	transition: background-color 1s ease;
}


  

.home_events{
    padding:  8%;
}

.home_events_head{
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: space-between;
}

.home_events h1{
		font-size: 96px;
		letter-spacing: -0.02em;
}
  


.home_events a{
    color: black;
}

.theme-dark .home_events a{
    color: white;
}

.home_events_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-top: 12%;
    overflow: hidden;
	margin-bottom: 4%
}

.home_events_list1, .home_events_list3{
    margin-top: 16%;
}


.home_events_list2 p{
    width: 225.17px;
    height: 67.88px;
    
}

.theme-light .home_events_list1 img,.theme-light .home_events_list2 img,.theme-light .home_events_list3 img{
    border: black 2px solid;
	-webkit-border-radius: 40px 40px 40px 40px;

    border-radius: 16px 16px 16px 16px ;
	
}


.home_events_list_left{
    display: flex;
    flex-direction: row;
    position: relative;
}

.home_events_list_right{
    display: flex;
    flex-direction: row;
    position: relative;
}

.home_events_cloud_left{
    position: absolute;
    left: -60%;
}

.home_events_cloud_right{
    position: absolute;
    right:-70%
}

@media (max-width: 740px) {
	.home_events h1{
		font-size: 76px;
		
	}
	
	.home_events_cloud_left{
		display: none;
	} 

	.home_events_cloud_right{
		display: none;
	} 

	.home_events_list{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.home_events_list1,.home_events_list2,.home_events_list3{
		padding-bottom: 10%;
	}
  }


  @media (max-width: 480px) {
	.home_events h1{
		font-size: 70px;
		
	}
  }

.home_story {
	height: max(1000px, 100vh);
	position: relative;
	transition: all 1s ease;
} 


.home_story_cloud {
	position: absolute;
	top: 0%;
}

@media (max-width:480px) {
	.home_story_cloud{
		height: 15%;
	}
}

.home_story_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home_story_stories {
	display: flex;
	justify-content: space-evenly;
}

.home_story_rod {
	width: 100%;
	margin-top: 5%;
}

.home_story_buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-100%);
}

.home_earth {
	height: max(100vh, 600px, 100%);
	padding-bottom: 7%;
}

#home_earth_clouds {
	position: absolute;
	top: 0%;
	transition: all 0.5s ease;
	background-color: none;
	margin: 0%;
	width: 100%;
}

.home_earth_container {
	margin: 0% 25% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px
}

.home_earth_container_header >  h1 {
	font-size: clamp(2em, 15vw, 85px);
	text-align: center;
	line-height: 100%;
}

.home_earth_container > p {
	font-size: 21px;
	text-align: center;
}

@media (max-width: 720px) {
	#home_earth_clouds {
		height: 30vh;
	}
}

