.home {
	height: 100%;
	margin-top: 90px;
}

.theme-light .home_landing {
	background-color: var(--light-sky);
	color: black;
}

.theme-dark .home_landing, .theme-dark .home_earth {
	background-color: var(--dark-sky);
	color: var(--cream)	;
}

.theme-light .home_earth{
	background-color: var(--light-sky-2);
	color: black;
}

.home_landing {
	position: relative;
	transition: all 0.5s ease;
	height: max(100vh, 600px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--eerie-black);
}

.home_landing > h1 {
	display: flex;
	font-size: 90px;
	line-height: 90px;
	align-items: center;
	gap: 20px;
	width: 60%;
}

.home_landing > h1 > img {
	width: 200px;
}

.home_landing > p {
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
	width: 50%;
}

.home_landing_clouds {
	transition: all 0.5s ease;
	background-color: none;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.home_earth {
	position: relative;
	transition: all 0.5s ease;
	height: max(100vh, 600px, 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--eerie-black);
}

.home_earth_clouds {
	position: absolute;
	top: 0%;
	transition: all 0.5s ease;
	background-color: none;
	margin: 0%;
	width: 100%;
}

.home_earth_container {
	margin: 0% 25% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px
}

.home_earth_container_header >  h1 {
	font-size: 85px;
	text-align: center;
	line-height: 100%;
}

.home_earth_container > p {
	font-size: 21px;
	text-align: center;
}


