.home {
	height: 100%;
	margin-top: 90px;
}

.theme-light .home_about {
	background-color: var(--light-sky);
	color: black;
}

.theme-dark .home_about {
	background-color: var(--eerie-black);
	color: var(--cream);
}

.theme-dark .home_landing, .theme-dark .home_earth {
	background-color: var(--dark-sky);
	color: var(--cream)	;
}

.theme-light .home_earth, .theme-light .home_landing{
	background-color: var(--light-sky-2);
	color: black;
}

.home_landing, .home_earth {
	position: relative;
	transition: all 0.5s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--eerie-black);
}

.home_landing {
	height: max(100vh, 600px);
}

.home_landing > h1 {
	display: flex;
	font-size: 90px;
	line-height: 90px;
	align-items: center;
	gap: 20px;
	width: 60%;
}

.home_landing > h1 > img {
	width: 200px;
}

.home_landing > p {
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
	width: 50%;
}

.home_landing_clouds {
	transition: all 0.5s ease;
	background-color: none;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.home_about {
	height: max(980px, 100vh);
	position: relative;
} 

.home_about_marquee {
	padding-top: 2%;
	font-size: 75px;
	color: transparent;
	-webkit-text-stroke-width: 3px;
}

.theme-light .marquee_span {
	color: black;
}
.theme-dark .marquee_span {
	color: var(--cream);
}

.home_about_inner {
	display: flex;
	align-items: center;
	margin: 0% 0% 0% 10%;
}

.home_about_content > p {
	margin-bottom: 10%;
	font-size: 22px;
}

.home_about_image {
	transform: scale(80%);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.llama_cloud {
	position: absolute;
	transform: translate(17px, 52px);
}

.llama_body{
	transform-origin: top;
	animation: llamaRotate 3s infinite linear;
	position: relative;
}


@keyframes llamaRotate {
	0% {
		transform: rotate(0deg);
	  }
	  25% {
		transform: rotate(3deg);
	  }
	  50% {
		transform: rotate(0deg);
	  }
	  75% {
		transform: rotate(-3deg);
	  }
	  100% {
		transform: rotate(0deg);
	  }
}

 .home_about_cloud {
	width: 100%;
	position: absolute;
	transform: scaleY(90%) translateY(6%);
	bottom: 0%
} 

.theme-light .home_events {
    background-color: white;
    color: black;
}

.theme-dark .home_events {
    background-color: var(--dark-sky);
    color: white;
}

.home_events{
    padding:  8%;
}

.home_events_head{
  display: flex;
  flex-direction: row;
  align-items: center;
 justify-content: space-between;
}

.home_events h1{
    width: 704px;
height: 115px;

font-family: 'Google Sans';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 120%;
/* or 115px */

letter-spacing: -0.02em;
}

.home_events a{
    color: black;
}

.theme-dark .home_events a{
    color: white;
}

.home_events_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin: 3%;
    overflow: hidden;
}

/*
.home_events_list div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.home_events_list2 p{
    width: 225.17px;
    height: 67.88px;
    
}

.home_events_list2{
    margin-top: 5%;
}

.home_events_list1, .home_events_list3{
    margin-top: 9%;
}

/*
.home_events_list1{
    display: flex;
    flex-direction: column;
    align-items: self-end;
}
*/

.home_events_list_left{
    display: flex;
    flex-direction: row;
    position: relative;
}

.home_events_list_right{
    display: flex;
    flex-direction: row;
    position: relative;
}

.home_events_cloud_left{
    position: absolute;
    left: -60%;
}

.home_events_cloud_right{
    position: absolute;
    right:-70%
}



.home_earth {
	height: max(100vh, 600px, 100%);
}

.home_earth_clouds {
	position: absolute;
	top: 0%;
	transition: all 0.5s ease;
	background-color: none;
	margin: 0%;
	width: 100%;
}

.home_earth_container {
	margin: 0% 25% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px
}

.home_earth_container_header >  h1 {
	font-size: 85px;
	text-align: center;
	line-height: 100%;
}

.home_earth_container > p {
	font-size: 21px;
	text-align: center;
}


