.FilledButton {
	display: grid;
	place-items: center;
}

.FilledButton > button {
	padding: 15%;
	border-radius: 280px;
	width: max-content;
}

#joinUs {
	padding: 15% 35%;
}

#events {
	width: 105px;
	text-align: center;
	font-size: 20px;
}

@media (width <= 750px) {
	#events {
		width: 55px;
		font-size: 10px;
	}
	
}