.nav {
	position: fixed;
	z-index: 99;
	top: 0;
}

#navbar-joinus {
	padding: 10px;
	font-size: 20px;
}

.navBar {
	position: relative;
	background-color: var(--eerie-black);
	padding: 20px 40px;
	display: flex;
	max-width: 100vw;
	width: 100vw;
	justify-content: space-between;
	align-items: center;
}

.navBar > .navLinks {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
	padding-right: 20px;
}

.navBar > .navLinks li > a {
    text-decoration: none;
	color: var(--light-sky);
}

.menu * {
    display: block !important;
}

.menu {
    position: fixed;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    z-index: 999;
    width: 200px;
    min-height: 100vh;
	background-color: var(--eerie-black);
    padding: 0 0px;
    border-image: url("../../assets/images/scroll_bar.png") 30 repeat;
    border-left: 30px solid var(--lego-yellow);
    animation: openNav 0.2s;
    top: 0;
}

.navLinks {
	display: none !important;
}

.active {
	display: flex !important;
}

.navLinks * {
    display: none;
}

.navBar_logoContainer {
	flex: 2;
}

.navBar_toggleContainer {
	flex: 2;
}

.navLinks {
	min-width: max-content;
}

.navLinks li {
    position: relative;
}

.navLinks li > a:hover {
    color: var(--cream) !important;
} 

.navLinks li:hover {
    color: var(--cream) !important;
} 

.navBar > .navLinks li {
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height */
    color: #FFFFFF;
}

.hamburgerMenu {
    width: 32px;
}

@keyframes openNav {
    0% {
        right: -200px;
    }
    100% {
        right: 0;
    }
}

@media screen and (min-width: 1024px) {
	.navBar_logoContainer {
		flex: 1;
	}
	.navBar_toggle {
		margin-left: 30px;
	}
	.navBar > .navLinks {
		flex: 2;
		display: flex !important;
	}
    .navLinks * {
        display: block;
    }

    .hamburgerMenu {
        display: none;
    }
}

/* .navBar_links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
	width: 100%;
} */

/* .navBar_links > * {
	padding-right: 10px;
	text-decoration: none;
	color: var(--light-sky);
} */

.navBar_toggle {
	position: relative;
	display: flex;
	background-color: var(--light-sky);
	border: 1px solid var(--eerie-black);
	align-items: center;
	width: 60px;
	height: 25px;
	padding: 5px;
	border-radius: 20px;
	justify-content: space-between;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.navBar_toggleButton {
	transition: left 0.5s ease;
	position: absolute;
	width: 17px;
	height: 17px;
	background-color: var(--light-sky);
	border: 1px solid var(--eerie-black);
	border-radius: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.navBar_marquee {
	background-color: var(--cream);
	height: 30px;
	z-index: 10;
	border: 2px solid var(--eerie-black);
}

.navBar_circle {
	position: relative;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 100%;
}

.marquee_val {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	margin-right: 20px;
}

.navBar_button {
	border: none;
	border-radius: 20px;
	padding: 10px 10px;
	background-color: var(--light-sky);
	color: var(--eerie-black);
	cursor: pointer;
}

.navBar_SunMoon {
	position: absolute;
	top: 35px;
	z-index: -1;
}

.team .navBar_SunMoon{
	display: none;
}

.creator .navBar_SunMoon{
	display: none;
}

.backgroundOverlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: var(--blasphemous-black); */
    z-index: 996;
}

.backgroundOverlayClosed {
    display: none;
    width: 0%;
    height: 0%;
}


