.gEarth {   
    margin-top: 30%;
    max-width: 90vw;
    height: auto;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
	border: 3px solid;
}

.theme-dark .gEarth {
    border-color: white;
}

.theme-light .gEarth {
    border-color: black;
}
