.teambox{
    position: relative;
    display: flex;
    overflow: hidden;
}

.teambox > img {
    transform: translate(10px, 10px);
}

.teambox div{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin-right: -60px;
}

.teambox div div {
    font-size: 20px;
    width: 180px;
    margin-bottom: -25px;
    padding: 20px;
   
}

.teambox div h1{
   width: 155px;
    font-size: 40px;
    padding: 20px;
}


@media (max-width:720px){
    .teambox{
        width: 330px;
    }

    .teambox > img {
        transform: translate(45px, 7px);
    }
}