.container {
    position: relative;
    width: 251px;
    height: 333px;
    background-color: aqua;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    color: white
}

.container_bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container_gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(30, 28, 28,.2) 80%, rgba(30, 28, 28, .9)) ;
}

.theme-dark .container {
    border: 2px solid var(--cream);
}

.theme-light .container {
    border: 2px solid var(--eerie-black);
}

.component_main {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.component_main_content {
    width: 100%;
    margin: 15px;
    font-size: 17px;
}

.component_main_header {
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 5%;
}

.component_main_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.component_main_statusBar{
    display: flex;
    background-color: rgb(56, 55, 55);
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border-radius: 100px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.component_desc {
    position: absolute;
    width: 100%;
    height: 75%;
    top: 100%;
    padding:5px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.component_desc_btn {
    font-size: 20px;
    height: 50px;
    background-color: #4285f4;
    font-weight: 300;
    border-radius: 10px;
}

.component_desc_readmore{
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.component_desc_btn > a {
    text-decoration: none;
    color: white;
}
